<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dropdown with enum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @* WebApplication1\obj\Debug\net6.0\scopedcss\bundle *@
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container text-primary">
                <strong>Code sample: Dropdown via enum</strong>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container mt-lg-5">
        <div class="card shadow-sm bg-primary" style="width: 26rem;">
            <div class="card-body text-light">
                An example for displaying <strong>enum</strong> with descriptions
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2022 KP
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>