@page
@using WebApplication1.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Pages.IndexModel
@{
    ViewData["Title"] = "Enum drop down demo";
}


<style>
    .validation-summary-valid { display: none; }
</style>

<div asp-validation-summary="All" class="border border-dark bg-danger text-light mb-3" style="width: 26rem;">
    <span class="m-lg-1 mt-1">Please correct the following errors</span>
</div>

<form asp-action="Edit" class="row">
    <div class="col-4">

        <input type="hidden" asp-for="Id"/>

        <div>
            <label asp-for="Customer!.Name" class="control-label"></label>
            <input asp-for="Customer!.Name" class="form-control"/>
        </div>

        <div>
            <label asp-for="Customer!.Type" class="control-label mt-2"></label>
            <select asp-for="Customer!.Type" class="form-control" asp-items="Html.GetEnumSelectList<CustomerType>()">
            </select>
        </div>

        <div class="mt-2">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </div>
    
    <div>
        <p>@Model.Message</p>
    </div>
</form>


