@page
@using WebApplication1.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Pages.IndexModel
@{
    ViewData["Title"] = "Enum drop down demo";
}

<style>
    .validation-summary-valid { display: none; }
</style>


<form method="post" asp-page-handler="Edit" class="row">
    <div class="col-4">

        <input type="hidden" asp-for="Id"/>

        <div>
            <label asp-for="Customer!.Name" class="control-label"></label>
            <input asp-for="Customer!.Name" class="form-control"/>
            <span asp-validation-for="Customer!.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Customer!.Type" class="form-label"></label>
            <select asp-for="Customer!.Type"
                    asp-items="Html.GetEnumSelectList<CustomerType>()"
                    class="form-select">
                <option value="">Select ...</option> 
            </select>
            <span asp-validation-for="Customer!.Type" class="text-danger"></span>
        </div>

        <div class="mt-5 mb-3">
            <input type="submit" value="Save  taxpayer" class="btn btn-primary"/>
        </div>
    </div>
    
    <div>
        <p>@Html.Raw(Model.Message)</p>
    </div>
</form>


