@page
@using WebApplication1.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Pages.IndexModel
@{
    ViewData["Title"] = "Enum drop down demo";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<form asp-action="Edit" class="row">
    <div class="col-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Customer.Name" class="control-label"></label>
            <input asp-for="Customer.Name" class="form-control" />
            <span asp-validation-for="Customer.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Customer.Type" class="control-label mt-2"></label>

            <select asp-for="Customer.Type" class="form-control"
                    asp-items="Html.GetEnumSelectList<CustomerType>()">
                @*<option>Select type ...</option>*@
            </select>

            <span asp-validation-for="Customer.Type" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
    
    <div>
        <p>
            @Model.Message
        </p>
    </div>
</form>


